// vlozeni font pravidel pro projekt 👇👇👇 font.ttf znamena TrueTypeFont
// Variabilni
@font-face {
  font-family: "Akaya_Telivigala";
  src: url(../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Include any default variable overrides here (though functions won't be available)

// <- tady (nad @importem) je mozne vkladat css atributy pro prepsani hodnot puvodnich atributu

@import "../node_modules/bootstrap/scss/bootstrap";

// ⚠️bootstrap.scss -> musí byt uvedena přípona (bez přípony to někdy soubor nenajde a hlásí chybu)
// <- tady (pod @importem) se vypisuji nove vlastne vymyslene css atributy

// Then add additional custom code here

body {
  font-family: "Akaya_Telivigala", sans-serif;
}

.darkGreen {
  color: #383721;
}

.darkGreen-bg {
  background-color: #383721;
}

.middleGreen {
  color: #678060;
}

.middleGreen-bg {
  background-color: #678060;
}

.lightGreen {
  color: #99c091;
}

.lightGreen-bg {
  background-color: #99c091;
}

.brightGreen {
  color: #95a72d;
}

.brightGreen-bg {
  background-color: #95a72d;
}

.yellow {
  color: #feb302;
}

.yellow-bg {
  background-color: #feb302;
}

.red {
  color: #f58450;
}

.red-bg {
  background-color: #f58450;
}

.white {
  color: white;
}

.obrazky {
  width: 0;
  height: 10%;
  margin: 0 auto;
}

.ikony {
  margin: auto;
  width: 400px;
}
