# Payload CMS
PAYLOAD_SECRET=change-me-min-32-chars-random-string
DATABASE_URL=file:./data/saihan.db
NEXT_PUBLIC_SERVER_URL=https://cms-saihan-hotool.marosh.uk
FRONTEND_URL=https://saihan-hotool.marosh.uk

# Docker
PAYLOAD_CONTAINER_NAME=saihan_cms
PAYLOAD_PORT=3002
NETWORK_NAME=saihan_net
NODE_ENV=production
