.app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  background: linear-gradient(
    75deg,
    #ffd88a75,
    #f8f9fa,
    #ffd88a6f,
    #f8f9fa,
    #ffd88a79,
    #f8f9fa,
    #ffd88a6c,
    #f8f9fa,
    #ffd88a7d
  );
  background-size: 400% 400%;
  animation: gradientFlow 90s ease infinite;
  /* hueRotation 180s linear infinite; */
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes hueRotation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation: none;
  }
}

@keyframes hueRotation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation: none;
  }
}

.language-container {
  position: fixed;
  opacity: 80%;
  /* background-color: #a0bf94; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /* padding: 25px; */
  top: 75px;
  right: -120px;
  /* padding-right: 0; */
  transition: padding-right 0.5s ease-in-out, right 0.5s ease-in-out,
    width 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 999;
}

.language-container.open {
  right: -80px;
  /* padding-right: 10px; */
  width: 170px;
  height: 170px;
  transition: padding-right 0.5s ease-in-out, width 0.5s ease-in-out,
    height 0.5s ease-in-out, right 0.5s ease-in-out;
}

.language-container * {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.language-container.open * {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.language-arrow {
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}

.language-container.open .language-arrow {
  opacity: 0%;
  transition: opacity 0.5s ease-in-out;
}
