{
    auto_https off
}

:80 {
    encode gzip

    @cms path /api/* /admin/*
    handle @cms {
        reverse_proxy cms:3000
    }

    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}
