.carousel-container {
  width: auto;
  height: auto; /* nebo jiná požadovaná výška */
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  /* border: #000000 1px solid; */
  border-radius: 50rem;
  border: 5vw solid #ffffff;
  box-shadow: 34vw -8vw 8px -13px #ffd88a, -34vw 8vw 8px -13px #b3c590;
}

.carousel-img {
  width: 100%;
  height: auto; /* nebo jiná požadovaná výška */
  object-fit: cover;
  object-position: center;
  /* background-color: #257e88; */
  /* box-shadow: 12px 12px 25px #000000; */
  /* border: 1px solid #ffffff; */
  /* border-radius: 100px; */
}

.carousel-text {
  text-shadow: 2px 2px 5px #000000;
  background-color: #c2c2c280;
  border: 0.5px solid #ffffff74;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

@media (min-width: 430px) {
  /* .carousel-container {
    box-shadow: 51px -51px 8px -13px #000000c6;
  } */
  .carousel-img {
    height: auto;
  }
}

@media (min-width: 768px) {
  .carousel-img {
    height: auto;
  }
}
