.footer-container {
  border-radius: 20px 20px 0px 0px;
  /* background-image: linear-gradient(
    120deg,
    #8f8f8fb9 0%,
    #cccccc 25%,
    #a1a1a1e8 50%,
    #cccccc 75%,
    #8f8f8fb9 100%
  ); */
}

.order-modal {
  width: 55vw;
  padding: 3vw;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow-y: auto;
  max-height: 85vh;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000b5;
  z-index: 99;
}

@media (max-width: 428px) {
  .order-modal {
    top: 55%;
    max-height: 75vh;
    width: 89vw;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .order-modal {
    top: 57%;
    max-height: 75vh;
    width: 55vw;
  }
}
