/* .cookies-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
} */

/* .cookies-modal {
  box-shadow: 2px 0 20px #000000;
  overflow: hidden;
  cursor: default;
}

@media (min-width: 767px) {
  .cookies-modal {
    min-width: 500px;
  }
} */

/* .cookies-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .cookies-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
} */
